Package: libroadrunner-deps
Version: 2.0.9
Section: custom
Priority: optional
Architecture: all
Essential: no
Installed-Size: 77176
Maintainer: lpsmith@uw.edu
Description: libroadrunner dependencies for travis build.
